body {
text-align: center;
background-color: #252525;
color:white;
font-family: Helvetica, sans-serif;
}

a{color: white}


.column0 {
  float: left;
  width: 100%;
}
.column2 {
  float: left;
  width: 50%;
}
.column {
  float: left;
  width: 33.33%;
}
.column23 {
  float: left;
  width: 66.66%;
}
.column4 {
  float: left;
  width: 25%;
}
.column34 {
  float: left;
  width: 75%;
}
.column5 {
  float: left;
  width: 20%;
}
.column45 {
  float: left;
  width: 80%;
}
.column6
{
  float: left;
  width: 16.66%;
}
.column8
{
  float: left;
  width: 12.5%;
}
.column10 {
  float: left;
  width: 10%;
}

.column0g {
  float: left;
  width: 100%;
  filter: saturate(0%);
}
.column2g {
  float: left;
  width: 50%;
  filter: saturate(0%);
}
.columng {
  float: left;
  width: 33.33%;
  filter: saturate(0%);
}
.column4g {
  float: left;
  width: 25%;
  filter: saturate(0%);
}
.column5g {
  float: left;
  width: 20%;
  filter: saturate(0%);
}

/* CANADA */
.cbsaheader{
background-image: url("CAN/FED/CBSA/CBSASTRIPE.png");
background-repeat: repeat;	
background-position: center;
background-size: cover;
}
.rcmpheader1{
background-image: url("CAN/rcmp/rcmpstripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
  float: left;
  width: 33.33%;
}
.rcmpheader{
background-image: url("CAN/fed/rcmp/rcmpstripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}
/* ONTARIO*/
.oppheader{
background-image: url("CAN/Provinces/ON/OPP/oppstripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}
/* TORONTO */
.tofireheader{
background-image: url("CAN/Provinces/ON/Toronto/tfsstripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}
.topoliceheader{
background-image: url("CAN/Provinces/ON/Toronto/tpsstripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}



/* USA*/
/* HOMELAND */
.dhsheader{
background-image: url("USA/FED/DHS/CBP/FO/CBPStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}
/* CUSTOMS */
.cbpheader{
background-image: url("USA/FED/DHS/CBP/FO/CBPStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
/* float: left; */
/* width: 50%; */
}
.usbpheader{
background-image: url("USA/FED/DHS/CBP/USBP/USBPStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
/* float: left; */
/* width: 50%; */
}
.amoheader{
background-image: url("USA/FED/DHS/CBP/Air/AMOStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
/* float: left; */
/* width: 50%; */
}
.uscgheader{
background-image: url("USA/FED/DHS/USCG/USCGStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}

/* UK */
/* POLICE */
.ukpolheader{
background-image: url("../ROW/UK/PoliceStripe.png");
background-repeat: no-repeat;	
background-position: center;
background-size: cover;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
